.boxgambar {
    background-color: #323232;
    width: auto;
    height: fit-content;
    border-radius: 18px;
}

.idbox {
    width: fit-content;
    height: fit-content;
    border-radius: 17px 20px;
    background-color: #1f1f1f;
    align-self: flex-end;
    margin: 14px;
}

.idbox p {
    padding: 11px;
    font-size: 15px;
}

.gambar1-container img:hover {
    transform: scale(1.1);
}

.gambar1-container img {
    transition: transform 0.5s;
    margin-bottom: -67px;
}

.gambar1-container {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nametag1 {
    background-color: #2b2b2b;
    height: fit-content;
    align-self: flex-start;
    margin: 10px;
    border-radius: 13px;
    width: 1065px;
    padding: 30px;
}

.nametag1 h2 {
    color: antiquewhite;
    font-size: x-large;
}